<p id="notice"><%= notice %></p>

<p>
  <strong>Operation type:</strong>
  <%= @setting.operation_type %>
</p>

<p>
  <strong>Minutes to next action:</strong>
  <%= @setting.minutes_to_next_action %>
</p>

<p>
  <strong>Timezone hours diff:</strong>
  <%= @setting.timezone_hours_diff %>
</p>

<p>
  <strong>Song Name:</strong>
  <%= @setting.mp3_file_name %>
</p>

<!-- < %= link_to 'Edit', edit_setting_path(@setting) %> | -->
<%= link_to 'Go Back', root_path %>
